@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200&family=Lobster&family=Oswald:wght@300;400&family=PT+Sans+Narrow&family=Poppins:wght@300;400&family=The+Nautigal&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #E0E0E0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
main{
    background-color: #FFFFFF;
    margin: 6px 6px 6px 6px;
    padding: 30px;
}


/* ............><.................
Top-Banner Section Design 
............><................. */
 /* .top-banner{
    padding: 30px;
    width: 100%;

}  */
.gretest-earth {
    display: flex;
    position: relative;
    left: 5.5rem;
    background-color: black;
    border-radius: 15px;
    padding: 50px;
    width: 1000px;
    height: 480px;
}
.gretest-earth:hover .most-valuable-player{
    transform: translate3d(-445px,0px,400px);
}
.gretest-earth:hover .greatest-earth-heading{
    transform:  rotate(-360deg) translateX(550px);
    transform-origin: top right;    
}
.greatest-earth-heading{
    width: 500px;
    position: relative;
    left: 3rem;
    top: 4rem; 
    transition: transform 5s ,rotate 1s linear;
}

.earth-heading{ 
    font-size: 4rem;
    width: 413px;
    font-family: sans-serif;
    padding: 5px;
    color: white;
}
.earth-paragraph{
    font-size: 13px;
    width: 350px;
    color: #eee3e3;
    padding: 5px;
    
}
.right-angle{
    text-decoration: none;
    background-color: red;
    padding: 10px 25px 10px 25px;
    position: relative;
    top: 2rem;
    left: 5px;
    color: white;
    border-radius: 5px;
}
.fa-angle-right{
    margin-left: 10px;
}
.most-valuable-player{
    position: relative;
    transition: transform 5s;
    left: 3rem;
}
.most-valuable-player img{
    position: relative;
    top: -10px;
    width: 455px;
    height: 540px;
}
/* ............><.................
Top Banner Style End 
............><................. */

/* ............><.................
Live Telecast Section Start
............><................. */

.live-telecast{
    display: flex;
    width: 100%;
    padding: 20px;
    margin-top: 76px;
  

}
.live-telecast-left{
    width: 400px;
    margin-left: 4.5rem;
}
.button-grid{
    background-color: #161616;
    width: 235px;
    height: 235px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
}
.button-grid a{
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 15px 5px 15px 5px ;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    font-weight: 700;
    color: #161616;
}
.button-grid .blog-site{
    background: red;
    color: white;
    font-weight: 700;
}
.live-telecast-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 116px 0 21px;
    grid-gap: 17px;
}
.players-card{
    width: 240px;
    height: 270px;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
}


.card-header{
    width: 240px;
}
.card-info{
    margin: 5px 5px 10px 15px;
}
.card-info>a{
    text-decoration: none;
    padding: 2px 8px 2px 8px;
    border: 1px solid #000;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 600;
    color: #1B1B1B;
}
.card-info>h3{
    font-size: 14px;
    padding: 20px 0 0 0px;
    color: #161616;
    font-weight: 700;
}
.card-icon{
    margin-top: 12px;   
}
.fa-clock{
    position: relative;
    top: 0px;
    height: 22px;  
}
.fa-comment-dots{
    position: relative;
    left: 15px;
}
.card-icon span{
    font-size: 14px;
    position: relative;
    top: 0px;
    left: 8px;
}
.card-icon .number{
    font-size: 14px;
    position: relative;
    top: 0px;
    left: 19px;
}


/* ............><.................
Live Telecast and Player Features Section End 
............><................. */

/* ............><.................
Different Section Start
............><................. */


.view-all{
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    display: none;
}
/* ............><.................
        Different Secion End
............><................. */
/* ............><.................
Footer Section Start
............><................. */

.footer{
    height: 372px;
    background-color: #161616;
    margin: -5px 6px 0px 6px;
}
.goal{
    color: white;
    text-align: center;
    position: relative;
    top: 120px;
}
hr{
    width: 1105px;
    position: relative;
    top: 170px;
    left: 117px;
    right: 117px;
    border-color: #333131;
}
.some-contact{
    position: relative;
    top: 12rem;
    left: 250px;
    right: 250px;
    
}
.some-contact ul{
    display: flex;
    
}
.some-contact ul li{
    list-style: none;
    padding: 20px;
}
.some-contact ul li a{
    text-decoration: none;
    color: #858585;
}
.social-media-icon{
    position: relative;
    top: 13rem;
    left: 39rem;
    right: 250px;
    
}
.social-media-icon ul{
    display: flex;
    
}
.social-media-icon ul li{
    padding: 0 15px 0 0;
    list-style: none;
}
.social-media-icon ul li a{
    text-decoration: none;
    color: rgb(169, 173, 173);
    font-size: 23px;
}
.country-blog{
    width: 240px;
    height: 210px;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
}
.country-flag{
    padding: 10px;
    display: flex;
    margin: 25px 5px 5px 5px;
}
.country-flag img{
    height: 40px;
    width: 78px;
    margin-left: 10px;
}
.country-flag span{
    font-size: 15px;
    font-weight: 700;
    margin: 5px 5px 0 8px;
}
.country-header{
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}
.country-header h2{
    font-size: 16px;
}
.country-header h4{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    
}

/* Footer Section End  */


/* Responsive for tablet */

@media screen and (min-width: 481px) and (max-width:768px){
    /* main{
        height: 2130px;
    } */

    .top-banner{
        width: 500px;
    }
    .gretest-earth{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       width: 300px;
       
    }
    .greatest-earth-heading{
        width: 200px;

    }
    .earth-heading{
        font-size: .5rem;
        padding: 2px;
    }
    .earth-paragraph{
        width: 150px;
        font-size: 8px;
    }
    .right-angle{
        padding: 5px 15px 5px 15px;
        top: 1rem;
        left: 2px;  
    }
    .fa-angle-right{
        margin-left: 10px;
    }
    .most-valuable-player{
        margin-left: 2rem;
        transition: transform 5s;
    }
    .most-valuable-player img{
        
        width: 200px;
        height: 280px;
    }
    .gretest-earth:hover .most-valuable-player{
        transform: translate3d(-275px,0px,200px);
    }
    .gretest-earth:hover .greatest-earth-heading{
        transform:  rotate(-360deg) translateX(250px);
        transform-origin: top right;    
    }
    .live-telecast{
        width: 740px;
        padding: 0px;
        margin-top: 15px;
        margin-bottom: 64px;
        flex-direction: column;
    
    }
    .live-telecast-left{
        width: 650px;
        position: relative;
        left: -4rem;

    }
    .button-grid{
        width: 630px;
        height: 88px;
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        background: none;
    }
    .button-grid a{
        font-weight: 700;
        color: #161616;
        border: 1px solid gray;
    }


    .live-telecast-right{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 80px 0 40px;
    }
    .view-all{
        font-size: 18px;
        display: block;
        background: #DD0000;
        width: 200px;
        position: relative;
        left: 15rem;
        padding: 15px;
    }
    
    .players-card{
        width: 260px;
        height: 270px;
        border: 1px solid #F4F4F4;
        padding: 10px 15px 10px 15px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
    }

    hr{
        width: 500px;
        position: relative;
        top: 170px;
        left: 117px;
        right: 117px;
        border-color: #333131;
    }
    .footer{
        height: 400px;
        background-color: #161616;
        margin: -5px 6px 4px 6px;
    }

    .some-contact ul li{
        list-style: none;
        padding: 10px;
    }
    .some-contact ul li a{
        font-size: 12px;
    }
    .some-contact{
        top: 12rem;
        left: 100px;
        right: 120px;
        
    }
    .social-media-icon{
        top: 13rem;
        left: 18rem;
        right: 100px;    
    }
} */

/* Responsive For Mobile  */

/* @media screen and (min-width: 320px) and (max-width:480px){

    .top-banner{
        width: 100%;
        padding: 10px;
    }
         .gretest-earth{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            flex-direction: column-reverse;
            
         }
} */

/* @media screen and (max-width:768px){

    main{
       background: none;
    }
    .body{
       background: #fff;
       margin: 6px;
    }
    .gretest-earth{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       width: 450px;
       height: 184px;
       left: 79px;
       top: 20px;
    }
   .greatest-earth-heading{
       width: 200px;
       left: 1rem;
       top: 4rem;
   }

   .earth-heading {
       font-size: 16px;
       width: 130px;
       padding: 3px;
   }

   .earth-paragraph {
       font-size: 8px;
       color: #eee3e3;
       padding: 3px;
       width: 164px;
   }


   .right-angle {
       text-decoration: none;
       background-color: red;
       padding: 4px 6px 6px 6px;
       position: relative;
       top: 1rem;
       left: 2px;
       color: white;
       border-radius: 5px;
   }

   .most-valuable-player{
       left: 2rem;
   }


   .most-valuable-player img {
       position: relative;
       top: -10px;
       width: 200px;
       height: 244px;
   
   }
   .live-telecast{
       display: grid;
   }

   .button-grid{
       position: relative;
       width: 582px;
       height: 88px;
       display: grid;
       grid-gap: -0.5rem;
       grid-template-columns: repeat(3, 1fr);
       background: none;
       left: 1.7rem;
   }
   .live-telecast-right{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       margin: 0 116px 0 73px;
       grid-gap: 17px;
   }
   .live-telecast-left{
       width: 300px;
       margin-left: 0.5rem;
   }
   .view-all{
       font-size: 18px;
       display: block;
       background: #DD0000;
       width: 200px;
       position: relative;
       left: 15rem;
       padding: 15px;
   }
   .footer{
       height: 400px;
       background-color: #161616;
       margin: -5px 6px 4px 6px;
   }
   hr{
       width: 500px;
       position: relative;
       top: 170px;
       left: 117px;
       right: 117px;
       border-color: #333131;
   }
   .some-contact ul li{
       list-style: none;
       padding: 10px;
   }
   .some-contact ul li a{
       font-size: 12px;
   }
   .some-contact{
       top: 12rem;
       left: 100px;
       right: 120px;
       
   }
   .social-media-icon{
       top: 13rem;
       left: 18rem;
       right: 100px;    
   }
   .gretest-earth:hover .most-valuable-player{
       transform: translate3d(-275px,0px,200px);
   }
   .gretest-earth:hover .greatest-earth-heading{
       transform:  rotate(-360deg) translateX(250px);
       transform-origin: top right;    
   }
   
}
@media screen and (max-width:481px){
    .gretest-earth{
    width: 342px;
    height: 184px;
    left: -16px;
    top: -21px;
}
.button-grid{
    position: relative;
    width: 453px;
    height: 91px;
    display: grid;
    grid-gap: -0.5rem;
    grid-template-columns: repeat(3, 1fr);
    background: none;
    left: -3.9rem;
    top: -5rem;
}
.live-telecast-right{
    margin: -51px 8px 0 -30px;
    grid-gap: 7px;
}
.players-card{
    width: 190px;
}
.card-header{
    width: 192px;
}
.view-all{
    width: 157px;
    left: 7rem;
}
hr{
    width: 217px;
}
.some-contact{
    left: 22px;
}
.some-contact ul li a{
    font-size: 8px;
}
.social-media-icon{
    top: 150rem;
    left: 10rem;
    right: 0;
    position: absolute;
}
.most-valuable-player img{
    width: 141px;
}
.gretest-earth:hover .most-valuable-player{
    transform: translate3d(-200px,0px,100px);
}
.gretest-earth:hover .greatest-earth-heading{
    transform:  rotate(-360deg) translateX(200px);
    transform-origin: top right;    
}
} 




